{{ if .IsPage }}
{{ if .Prev | or .Next }}
<nav class="pagination" aria-label="Footer">
  <div class="previous">
  {{ if .Prev }}
      <a href="{{ .Prev.Permalink }}" title="{{ .Prev.Title }}">
        <span class="direction">
          Previous
        </span>
        <div class="page">
          <div class="button button-previous" role="button" aria-label="Previous">
            <i class="icon icon-back"></i>
          </div>
          <div class="stretch">
            <div class="title">
              {{ .Prev.Title }}
            </div>
          </div>
        </div>
      </a>
  {{ end }}
  </div>

  <div class="next">
  {{ if .Next }}
      <a href="{{ .Next.Permalink }}" title="{{ .Next.Title }}">
        <span class="direction">
          Next
        </span>
        <div class="page">
          <div class="stretch">
            <div class="title">
              {{ .Next.Title }}
            </div>
          </div>
          <div class="button button-next" role="button" aria-label="Next">
            <i class="icon icon-forward"></i>
          </div>
        </div>
      </a>
  {{ end }}
  </div>
</nav>
{{ end }}
{{ end }}

{{ if .IsHome }}
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <ul>
                    <li><a >Link 1</a></li>
                    <li><a >Link 2</a></li>
                    <li><a >Link 3</a></li>
                    <li><a >Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Blackreaven
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
{{ end }}
